--
-- PostgreSQL database dump
--

\restrict qIGIZI8nTVDWH9AmgyLuXNsn81uu4HYrRSlfETLWeidFoXIkRqnezGmbn4nvf8q

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: juegos_participante; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.juegos_participante (
    id bigint NOT NULL,
    puntaje integer NOT NULL,
    listo boolean NOT NULL,
    respondio_actual boolean NOT NULL,
    bloqueado_hasta_pregunta integer NOT NULL,
    usuario_id bigint NOT NULL,
    sala_id bigint NOT NULL
);


ALTER TABLE public.juegos_participante OWNER TO postgres;

--
-- Name: juegos_participante_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.juegos_participante ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.juegos_participante_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: juegos_partidadesafio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.juegos_partidadesafio (
    id bigint NOT NULL,
    tipo_juego character varying(20) NOT NULL,
    puntaje_total integer NOT NULL,
    preguntas_correctas integer NOT NULL,
    preguntas_incorrectas integer NOT NULL,
    max_combo integer NOT NULL,
    fecha timestamp with time zone NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.juegos_partidadesafio OWNER TO postgres;

--
-- Name: juegos_partidadesafio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.juegos_partidadesafio ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.juegos_partidadesafio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: juegos_sala; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.juegos_sala (
    id bigint NOT NULL,
    codigo character varying(6) NOT NULL,
    num_jugadores_max integer NOT NULL,
    areas jsonb NOT NULL,
    dificultad character varying(20) NOT NULL,
    num_preguntas integer NOT NULL,
    estado character varying(20) NOT NULL,
    pregunta_actual_idx integer NOT NULL,
    preguntas_ids jsonb NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    creador_id bigint NOT NULL
);


ALTER TABLE public.juegos_sala OWNER TO postgres;

--
-- Name: juegos_sala_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.juegos_sala ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.juegos_sala_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_area; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_area (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.preguntas_area OWNER TO postgres;

--
-- Name: preguntas_area_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_area ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_area_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_contexto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_contexto (
    id bigint NOT NULL,
    tipo character varying(50) NOT NULL,
    titulo character varying(200) NOT NULL,
    contenido text NOT NULL,
    archivo character varying(100),
    url_externa character varying(200),
    area_id bigint NOT NULL
);


ALTER TABLE public.preguntas_contexto OWNER TO postgres;

--
-- Name: preguntas_contexto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_contexto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_contexto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_flashcard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_flashcard (
    id bigint NOT NULL,
    frente text NOT NULL,
    dorso text NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    pregunta_relacionada_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.preguntas_flashcard OWNER TO postgres;

--
-- Name: preguntas_flashcard_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_flashcard ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_flashcard_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_opcionrespuesta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_opcionrespuesta (
    id bigint NOT NULL,
    texto text NOT NULL,
    es_correcta boolean NOT NULL,
    pregunta_id bigint NOT NULL,
    orden integer NOT NULL
);


ALTER TABLE public.preguntas_opcionrespuesta OWNER TO postgres;

--
-- Name: preguntas_opcionrespuesta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_opcionrespuesta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_opcionrespuesta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_opcionrespuestaia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_opcionrespuestaia (
    id bigint NOT NULL,
    texto text NOT NULL,
    es_correcta boolean NOT NULL,
    pregunta_ia_id bigint NOT NULL
);


ALTER TABLE public.preguntas_opcionrespuestaia OWNER TO postgres;

--
-- Name: preguntas_opcionrespuestaia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_opcionrespuestaia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_opcionrespuestaia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_pregunta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_pregunta (
    id bigint NOT NULL,
    enunciado text NOT NULL,
    tipo character varying(30) NOT NULL,
    dificultad character varying(20) NOT NULL,
    explicacion text NOT NULL,
    imagen_url character varying(200),
    active boolean NOT NULL,
    subarea_id bigint,
    area_id bigint NOT NULL,
    competencia character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    contexto_id bigint
);


ALTER TABLE public.preguntas_pregunta OWNER TO postgres;

--
-- Name: preguntas_pregunta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_pregunta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_pregunta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_preguntaia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_preguntaia (
    id bigint NOT NULL,
    debilidad_objetivo character varying(150) NOT NULL,
    enunciado text NOT NULL,
    dificultad character varying(20) NOT NULL,
    pista text NOT NULL,
    ejemplo text NOT NULL,
    explicacion text NOT NULL,
    tasa_exito double precision NOT NULL,
    veces_respondida integer NOT NULL,
    veces_correcta integer NOT NULL,
    estado_validacion character varying(20) NOT NULL,
    promocionada boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    area_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.preguntas_preguntaia OWNER TO postgres;

--
-- Name: preguntas_preguntaia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_preguntaia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_preguntaia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_progresodebilidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_progresodebilidad (
    id bigint NOT NULL,
    debilidad character varying(150) NOT NULL,
    intentos_totales integer NOT NULL,
    aciertos_totales integer NOT NULL,
    porcentaje_mejora double precision NOT NULL,
    nivel_actual character varying(20) NOT NULL,
    historial_recuperacion jsonb NOT NULL,
    ultimo_entrenamiento timestamp with time zone NOT NULL,
    area_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.preguntas_progresodebilidad OWNER TO postgres;

--
-- Name: preguntas_progresodebilidad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_progresodebilidad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_progresodebilidad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas_subarea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preguntas_subarea (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    area_id bigint NOT NULL
);


ALTER TABLE public.preguntas_subarea OWNER TO postgres;

--
-- Name: preguntas_subarea_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.preguntas_subarea ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_subarea_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: simulacros_detallesimulacro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.simulacros_detallesimulacro (
    id bigint NOT NULL,
    es_correcta boolean NOT NULL,
    opcion_seleccionada_id bigint,
    pregunta_id bigint NOT NULL,
    simulacro_id bigint NOT NULL
);


ALTER TABLE public.simulacros_detallesimulacro OWNER TO postgres;

--
-- Name: simulacros_detallesimulacro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.simulacros_detallesimulacro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.simulacros_detallesimulacro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: simulacros_simulacro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.simulacros_simulacro (
    id bigint NOT NULL,
    fecha_inicio timestamp with time zone NOT NULL,
    fecha_fin timestamp with time zone,
    puntaje_total double precision NOT NULL,
    tiempo_usado_segundos integer NOT NULL,
    completado boolean NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.simulacros_simulacro OWNER TO postgres;

--
-- Name: simulacros_simulacro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.simulacros_simulacro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.simulacros_simulacro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    full_name character varying(255) NOT NULL,
    is_verified boolean NOT NULL,
    is_teacher boolean NOT NULL,
    is_content_admin boolean NOT NULL,
    avatar_url character varying(200),
    access_to_devices character varying(30) NOT NULL,
    birthdate date,
    extra_support boolean NOT NULL,
    gender character varying(30) NOT NULL,
    grade character varying(100) NOT NULL,
    language_preference character varying(30) NOT NULL,
    learning_goals text NOT NULL,
    learning_style character varying(30) NOT NULL,
    school character varying(255) NOT NULL,
    special_education_needs text NOT NULL,
    student_type character varying(30) NOT NULL,
    study_habits character varying(255) NOT NULL
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	preguntas	area
8	preguntas	pregunta
9	preguntas	opcionrespuesta
10	preguntas	subarea
11	preguntas	contexto
12	simulacros	simulacro
13	simulacros	detallesimulacro
14	juegos	partidadesafio
15	juegos	sala
16	juegos	participante
17	preguntas	flashcard
18	preguntas	opcionrespuestaia
19	preguntas	preguntaia
20	preguntas	progresodebilidad
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: juegos_participante; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.juegos_participante (id, puntaje, listo, respondio_actual, bloqueado_hasta_pregunta, usuario_id, sala_id) FROM stdin;
1	0	t	f	-1	38	1
2	0	f	f	-1	39	1
3	0	t	f	-1	39	2
4	0	f	f	-1	38	2
5	0	t	f	-1	38	3
6	0	f	f	-1	39	3
7	0	t	f	-1	38	4
8	0	f	f	-1	39	4
9	100	t	f	4	38	5
10	200	f	f	4	39	5
11	0	t	f	1	38	6
12	0	f	f	1	39	6
13	0	t	f	1	38	7
14	0	f	f	1	39	7
\.


--
-- Data for Name: juegos_partidadesafio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: juegos_sala; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_area; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.preguntas_area (id, nombre, descripcion) FROM stdin;
9	Ciencias_Naturales	Eval├║a la comprensi├│n de fen├│menos biol├│gicos, f├¡sicos y qu├¡micos mediante contextos cient├¡ficos.
10	Lectura Cr├¡tica	Eval├║a la comprensi├│n, interpretaci├│n y an├ílisis de textos escritos.
11	Matematicas	Eval├║a la logica y conocimientos matematicos.
12	Ciencias_Sociales_y_Competencias_Ciudadanas	Eval├║a los conocimientos en ciencias sociales.
\.


--
-- Data for Name: preguntas_contexto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_flashcard; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_opcionrespuesta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_opcionrespuestaia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_pregunta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_preguntaia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_progresodebilidad; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: preguntas_subarea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.preguntas_subarea (id, nombre, area_id) FROM stdin;
9	General	9
10	General	10
11	General	11
12	General	12
\.


--
-- Data for Name: simulacros_detallesimulacro; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: simulacros_simulacro; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 33, true);


--
-- Name: juegos_participante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.juegos_participante_id_seq', 14, true);


--
-- Name: juegos_partidadesafio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.juegos_partidadesafio_id_seq', 58, true);


--
-- Name: juegos_sala_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.juegos_sala_id_seq', 7, true);


--
-- Name: preguntas_area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_area_id_seq', 12, true);


--
-- Name: preguntas_contexto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_contexto_id_seq', 707, true);


--
-- Name: preguntas_flashcard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_flashcard_id_seq', 100, true);


--
-- Name: preguntas_opcionrespuesta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_opcionrespuesta_id_seq', 5256, true);


--
-- Name: preguntas_opcionrespuestaia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_opcionrespuestaia_id_seq', 16, true);


--
-- Name: preguntas_pregunta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_pregunta_id_seq', 1314, true);


--
-- Name: preguntas_preguntaia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_preguntaia_id_seq', 4, true);


--
-- Name: preguntas_progresodebilidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_progresodebilidad_id_seq', 1, true);


--
-- Name: preguntas_subarea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preguntas_subarea_id_seq', 12, true);


--
-- Name: simulacros_detallesimulacro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.simulacros_detallesimulacro_id_seq', 4996, true);


--
-- Name: simulacros_simulacro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.simulacros_simulacro_id_seq', 58, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 39, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: juegos_participante juegos_participante_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_participante
    ADD CONSTRAINT juegos_participante_pkey PRIMARY KEY (id);


--
-- Name: juegos_participante juegos_participante_sala_id_usuario_id_343d226f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_participante
    ADD CONSTRAINT juegos_participante_sala_id_usuario_id_343d226f_uniq UNIQUE (sala_id, usuario_id);


--
-- Name: juegos_partidadesafio juegos_partidadesafio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_partidadesafio
    ADD CONSTRAINT juegos_partidadesafio_pkey PRIMARY KEY (id);


--
-- Name: juegos_sala juegos_sala_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_sala
    ADD CONSTRAINT juegos_sala_codigo_key UNIQUE (codigo);


--
-- Name: juegos_sala juegos_sala_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_sala
    ADD CONSTRAINT juegos_sala_pkey PRIMARY KEY (id);


--
-- Name: preguntas_area preguntas_area_nombre_241f79ac_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_area
    ADD CONSTRAINT preguntas_area_nombre_241f79ac_uniq UNIQUE (nombre);


--
-- Name: preguntas_area preguntas_area_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_area
    ADD CONSTRAINT preguntas_area_pkey PRIMARY KEY (id);


--
-- Name: preguntas_contexto preguntas_contexto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_contexto
    ADD CONSTRAINT preguntas_contexto_pkey PRIMARY KEY (id);


--
-- Name: preguntas_flashcard preguntas_flashcard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_flashcard
    ADD CONSTRAINT preguntas_flashcard_pkey PRIMARY KEY (id);


--
-- Name: preguntas_opcionrespuesta preguntas_opcionrespuesta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_opcionrespuesta
    ADD CONSTRAINT preguntas_opcionrespuesta_pkey PRIMARY KEY (id);


--
-- Name: preguntas_opcionrespuestaia preguntas_opcionrespuestaia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_opcionrespuestaia
    ADD CONSTRAINT preguntas_opcionrespuestaia_pkey PRIMARY KEY (id);


--
-- Name: preguntas_pregunta preguntas_pregunta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_pregunta
    ADD CONSTRAINT preguntas_pregunta_pkey PRIMARY KEY (id);


--
-- Name: preguntas_preguntaia preguntas_preguntaia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_preguntaia
    ADD CONSTRAINT preguntas_preguntaia_pkey PRIMARY KEY (id);


--
-- Name: preguntas_progresodebilidad preguntas_progresodebilidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_progresodebilidad
    ADD CONSTRAINT preguntas_progresodebilidad_pkey PRIMARY KEY (id);


--
-- Name: preguntas_progresodebilidad preguntas_progresodebilidad_usuario_id_debilidad_0a95b284_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_progresodebilidad
    ADD CONSTRAINT preguntas_progresodebilidad_usuario_id_debilidad_0a95b284_uniq UNIQUE (usuario_id, debilidad);


--
-- Name: preguntas_subarea preguntas_subarea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_subarea
    ADD CONSTRAINT preguntas_subarea_pkey PRIMARY KEY (id);


--
-- Name: simulacros_detallesimulacro simulacros_detallesimulacro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulacros_detallesimulacro
    ADD CONSTRAINT simulacros_detallesimulacro_pkey PRIMARY KEY (id);


--
-- Name: simulacros_simulacro simulacros_simulacro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulacros_simulacro
    ADD CONSTRAINT simulacros_simulacro_pkey PRIMARY KEY (id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: juegos_participante_sala_id_f144bda8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juegos_participante_sala_id_f144bda8 ON public.juegos_participante USING btree (sala_id);


--
-- Name: juegos_participante_usuario_id_b27cacf1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juegos_participante_usuario_id_b27cacf1 ON public.juegos_participante USING btree (usuario_id);


--
-- Name: juegos_partidadesafio_usuario_id_55b04505; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juegos_partidadesafio_usuario_id_55b04505 ON public.juegos_partidadesafio USING btree (usuario_id);


--
-- Name: juegos_sala_codigo_a07c80fd_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juegos_sala_codigo_a07c80fd_like ON public.juegos_sala USING btree (codigo varchar_pattern_ops);


--
-- Name: juegos_sala_creador_id_f3a06e81; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juegos_sala_creador_id_f3a06e81 ON public.juegos_sala USING btree (creador_id);


--
-- Name: preguntas_area_nombre_241f79ac_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_area_nombre_241f79ac_like ON public.preguntas_area USING btree (nombre varchar_pattern_ops);


--
-- Name: preguntas_contexto_area_id_365c8071; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_contexto_area_id_365c8071 ON public.preguntas_contexto USING btree (area_id);


--
-- Name: preguntas_flashcard_pregunta_relacionada_id_f4cd82fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_flashcard_pregunta_relacionada_id_f4cd82fb ON public.preguntas_flashcard USING btree (pregunta_relacionada_id);


--
-- Name: preguntas_flashcard_user_id_48c03f2f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_flashcard_user_id_48c03f2f ON public.preguntas_flashcard USING btree (user_id);


--
-- Name: preguntas_opcionrespuesta_pregunta_id_19b953d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_opcionrespuesta_pregunta_id_19b953d3 ON public.preguntas_opcionrespuesta USING btree (pregunta_id);


--
-- Name: preguntas_opcionrespuestaia_pregunta_ia_id_20ba0f47; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_opcionrespuestaia_pregunta_ia_id_20ba0f47 ON public.preguntas_opcionrespuestaia USING btree (pregunta_ia_id);


--
-- Name: preguntas_pregunta_area_id_ef1bf08c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_pregunta_area_id_ef1bf08c ON public.preguntas_pregunta USING btree (area_id);


--
-- Name: preguntas_pregunta_contexto_id_0edc3491; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_pregunta_contexto_id_0edc3491 ON public.preguntas_pregunta USING btree (contexto_id);


--
-- Name: preguntas_pregunta_subarea_id_65023a69; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_pregunta_subarea_id_65023a69 ON public.preguntas_pregunta USING btree (subarea_id);


--
-- Name: preguntas_preguntaia_area_id_68974c7a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_preguntaia_area_id_68974c7a ON public.preguntas_preguntaia USING btree (area_id);


--
-- Name: preguntas_preguntaia_usuario_id_a8532632; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_preguntaia_usuario_id_a8532632 ON public.preguntas_preguntaia USING btree (usuario_id);


--
-- Name: preguntas_progresodebilidad_area_id_7264ffa9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_progresodebilidad_area_id_7264ffa9 ON public.preguntas_progresodebilidad USING btree (area_id);


--
-- Name: preguntas_progresodebilidad_usuario_id_ff624ac3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_progresodebilidad_usuario_id_ff624ac3 ON public.preguntas_progresodebilidad USING btree (usuario_id);


--
-- Name: preguntas_subarea_area_id_f74b16f1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX preguntas_subarea_area_id_f74b16f1 ON public.preguntas_subarea USING btree (area_id);


--
-- Name: simulacros_detallesimulacro_opcion_seleccionada_id_e126f65e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX simulacros_detallesimulacro_opcion_seleccionada_id_e126f65e ON public.simulacros_detallesimulacro USING btree (opcion_seleccionada_id);


--
-- Name: simulacros_detallesimulacro_pregunta_id_bafc55f9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX simulacros_detallesimulacro_pregunta_id_bafc55f9 ON public.simulacros_detallesimulacro USING btree (pregunta_id);


--
-- Name: simulacros_detallesimulacro_simulacro_id_42250079; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX simulacros_detallesimulacro_simulacro_id_42250079 ON public.simulacros_detallesimulacro USING btree (simulacro_id);


--
-- Name: simulacros_simulacro_usuario_id_5addb191; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX simulacros_simulacro_usuario_id_5addb191 ON public.simulacros_simulacro USING btree (usuario_id);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juegos_participante juegos_participante_sala_id_f144bda8_fk_juegos_sala_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_participante
    ADD CONSTRAINT juegos_participante_sala_id_f144bda8_fk_juegos_sala_id FOREIGN KEY (sala_id) REFERENCES public.juegos_sala(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juegos_participante juegos_participante_usuario_id_b27cacf1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_participante
    ADD CONSTRAINT juegos_participante_usuario_id_b27cacf1_fk_users_user_id FOREIGN KEY (usuario_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juegos_partidadesafio juegos_partidadesafio_usuario_id_55b04505_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_partidadesafio
    ADD CONSTRAINT juegos_partidadesafio_usuario_id_55b04505_fk_users_user_id FOREIGN KEY (usuario_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juegos_sala juegos_sala_creador_id_f3a06e81_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juegos_sala
    ADD CONSTRAINT juegos_sala_creador_id_f3a06e81_fk_users_user_id FOREIGN KEY (creador_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_contexto preguntas_contexto_area_id_365c8071_fk_preguntas_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_contexto
    ADD CONSTRAINT preguntas_contexto_area_id_365c8071_fk_preguntas_area_id FOREIGN KEY (area_id) REFERENCES public.preguntas_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_flashcard preguntas_flashcard_pregunta_relacionada_f4cd82fb_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_flashcard
    ADD CONSTRAINT preguntas_flashcard_pregunta_relacionada_f4cd82fb_fk_preguntas FOREIGN KEY (pregunta_relacionada_id) REFERENCES public.preguntas_pregunta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_flashcard preguntas_flashcard_user_id_48c03f2f_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_flashcard
    ADD CONSTRAINT preguntas_flashcard_user_id_48c03f2f_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_opcionrespuestaia preguntas_opcionresp_pregunta_ia_id_20ba0f47_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_opcionrespuestaia
    ADD CONSTRAINT preguntas_opcionresp_pregunta_ia_id_20ba0f47_fk_preguntas FOREIGN KEY (pregunta_ia_id) REFERENCES public.preguntas_preguntaia(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_opcionrespuesta preguntas_opcionresp_pregunta_id_19b953d3_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_opcionrespuesta
    ADD CONSTRAINT preguntas_opcionresp_pregunta_id_19b953d3_fk_preguntas FOREIGN KEY (pregunta_id) REFERENCES public.preguntas_pregunta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_pregunta preguntas_pregunta_area_id_ef1bf08c_fk_preguntas_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_pregunta
    ADD CONSTRAINT preguntas_pregunta_area_id_ef1bf08c_fk_preguntas_area_id FOREIGN KEY (area_id) REFERENCES public.preguntas_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_pregunta preguntas_pregunta_contexto_id_0edc3491_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_pregunta
    ADD CONSTRAINT preguntas_pregunta_contexto_id_0edc3491_fk_preguntas FOREIGN KEY (contexto_id) REFERENCES public.preguntas_contexto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_pregunta preguntas_pregunta_subarea_id_65023a69_fk_preguntas_subarea_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_pregunta
    ADD CONSTRAINT preguntas_pregunta_subarea_id_65023a69_fk_preguntas_subarea_id FOREIGN KEY (subarea_id) REFERENCES public.preguntas_subarea(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_preguntaia preguntas_preguntaia_area_id_68974c7a_fk_preguntas_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_preguntaia
    ADD CONSTRAINT preguntas_preguntaia_area_id_68974c7a_fk_preguntas_area_id FOREIGN KEY (area_id) REFERENCES public.preguntas_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_preguntaia preguntas_preguntaia_usuario_id_a8532632_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_preguntaia
    ADD CONSTRAINT preguntas_preguntaia_usuario_id_a8532632_fk_users_user_id FOREIGN KEY (usuario_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_progresodebilidad preguntas_progresode_area_id_7264ffa9_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_progresodebilidad
    ADD CONSTRAINT preguntas_progresode_area_id_7264ffa9_fk_preguntas FOREIGN KEY (area_id) REFERENCES public.preguntas_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_progresodebilidad preguntas_progresode_usuario_id_ff624ac3_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_progresodebilidad
    ADD CONSTRAINT preguntas_progresode_usuario_id_ff624ac3_fk_users_use FOREIGN KEY (usuario_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: preguntas_subarea preguntas_subarea_area_id_f74b16f1_fk_preguntas_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preguntas_subarea
    ADD CONSTRAINT preguntas_subarea_area_id_f74b16f1_fk_preguntas_area_id FOREIGN KEY (area_id) REFERENCES public.preguntas_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: simulacros_detallesimulacro simulacros_detallesi_opcion_seleccionada__e126f65e_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulacros_detallesimulacro
    ADD CONSTRAINT simulacros_detallesi_opcion_seleccionada__e126f65e_fk_preguntas FOREIGN KEY (opcion_seleccionada_id) REFERENCES public.preguntas_opcionrespuesta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: simulacros_detallesimulacro simulacros_detallesi_pregunta_id_bafc55f9_fk_preguntas; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulacros_detallesimulacro
    ADD CONSTRAINT simulacros_detallesi_pregunta_id_bafc55f9_fk_preguntas FOREIGN KEY (pregunta_id) REFERENCES public.preguntas_pregunta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: simulacros_detallesimulacro simulacros_detallesi_simulacro_id_42250079_fk_simulacro; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulacros_detallesimulacro
    ADD CONSTRAINT simulacros_detallesi_simulacro_id_42250079_fk_simulacro FOREIGN KEY (simulacro_id) REFERENCES public.simulacros_simulacro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: simulacros_simulacro simulacros_simulacro_usuario_id_5addb191_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulacros_simulacro
    ADD CONSTRAINT simulacros_simulacro_usuario_id_5addb191_fk_users_user_id FOREIGN KEY (usuario_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict qIGIZI8nTVDWH9AmgyLuXNsn81uu4HYrRSlfETLWeidFoXIkRqnezGmbn4nvf8q

